.password-wrapper {
    display: flex;
    justify-content: space-between;
}
.password-background {
    background-image: url('../images/inkpot.png');
    width: 30vw;
    height: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
}
.password-block {
    border-left: 2px solid black;
    padding: 3vw 0 0 2vw;
}

.password-block__text {
    & input{
        border: none;
        border-bottom: 1px solid black;
        text-align: center;
        font-style: italic;
        width: 15vw;
        font-size: large;
    }
}
.password-block__saveBtn {
    width: 6rem;
    padding: 0.15rem ;
    border-radius: 0.3rem;
    border: 1px solid grey;
}
.logo:hover{
    transform: none;
}